/* body {
    background-color: rgb(126, 172, 129);
} */

.form-row{
    display:flex; 
    justify-content: space-between;
    align-items: center;
}

/* html{
    font-size: 100%!important;
}
div.header {
    font-size:0.6rem!important;
} */

/* .font-adjusted {
    font-size: 1.6rem;
} */