@import url(style.css);

div.explore-field {
    color: var(--light-color);
    max-width: 100%;
    float: right;
    /* position: relative; */
}

div.explore-item {
    border: var(--border);
    text-align: center;
    color: green;
}

div.explore-item img {
    max-height: auto;
    max-width: 80%;
}

div.explore-item h1 {
    color: var(--black);
}

div.explore-item h3 {
    color: var(--black);

}

div.explore-item div.stars {
    font-size: small;
}

div.explore-item i {
    color: gold;
}

div.explore-item button {
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 10%;
    border: var(--border);
    border-radius: 1rem;
    font-size: medium;
}

div.explore-item button:hover {
    background-color: rgb(255, 227, 72);
    border-color: black;
    border-width: 0.1rem;
}

div.explore-item button:active {
    outline-color: black;
    outline-width: 0.125rem;
}

div.explore-item button:focus {
    outline-color: black;
    outline-width: 0.05rem;
}

div.sorters {
    float: right;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* position: relative; */
}

div.sorter-dropdown {
    float: right;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

div.sorter-dropdown-menu {
    width: 96%;
}

div.sorters-and-explore-field {
    float: right;
    max-width: 70%;
}

.hide-item-details {
    display: none;
}

.item-details:hover+.hide-item-details {
    display: block;
    color: red;
}