div .sellItemsForm {
    text-align: center;
    background-color: black;
}

.border {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 12px 20px;
    margin: 8px 0;
    
}

h4 {
    font-size: 3rem;
    flex: auto;
    color: black;
}

.format{
    font-size: 2.5rem;
    flex: auto;
    color: black;
    padding : 10px;
    
}

.edit{
    font-size: 1.5rem;
    flex: auto;
    color: grey;
}

