<!-- Reza's Page -->
<!DOCTYPE html>
<html lang="en" class="header">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    
    <!-- CSS only -->
    <link
			rel="stylesheet"
			href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
		/>
    <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/createAccount.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- JavaScript Bundle with Popper -->
    
</head>
<body>
  <header class="header">
    <div class="header-1">
        <div class="nvbr">
        <nav>
            <div class="navbar">
                <div class="container nav-container">
                    <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    
                    <div class="menu-items">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="explore.html">Explore</a></li>
                        <li><a href="accountDetails.html">Account </a></li>
                        <li><a href="cart.html">Cart </a></li>
                        <li><a href="#">Contact</a></li>
                    </div>
                </div>
            </div>
        </nav></div>
        <button onclick="location.href='createAccount.html'" class="btn" style="position:absolute;left:10rem;">Register</button>
        <a style="text-align-last: auto; position: relative; left:30px ;" href="#" class="logo main-logo"
        ><i class="fas fa-book "></i> Bookstore</a
      >

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <button onclick="location.href='cart.html'" class="btn hdr-btn">
                Cart <a href="cart.html" class="fas fa-shopping-cart"></a>
            </button>
            <button onclick="location.href='sellItem.html'" class="btn hdr-btn">
                SELL <a href="sellItem.html" class="fas fa-dollar-sign"></a>
            </button>
            <button class="btn hdr-btn" id="login-btn">
                Sign In
                <div class="fas fa-user"></div>
            </button>
            <select class="btn hdr-btn">
                <option value="">English</option>
                <option value="dog">French</option>
                <option value="cat">Spanish</option>
                <option value="hamster">German</option>
                <option value="parrot">Portuguese</option>
                <option value="spider">Russian</option>
                <option value="goldfish">Persian</option>
            </select>
        </div>
    </div>
</header>
    <form method="get" action="/index.html" >
      <div class="container py-5 h-100 font-adjusted">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-12">
            <div class="card rounded-3">
              
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Make an account</h3>
    
                <form class="px-md-2">
    
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control" placeholder="Name"/>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control"placeholder="Phone number" />
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control"placeholder="Email" />
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>

                  <div class="form-row">
                    <div class="col-md-3 mb-3">
                      <label for="validationCustom03"></label>
                      <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationCustom04"></label>
                      <input type="text" class="form-control" id="validationCustom04" placeholder="Province" required>
                      <div class="invalid-feedback">
                        Please provide a valid Province.
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationCustom05"></label>
                      <input type="text" class="form-control" id="validationCustom05" placeholder="Postal Code" required>
                      <div class="invalid-feedback">
                        Please provide a valid Postal code.
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control" placeholder="Address"/>
                  </div>

                  <div class="mb-4">
    
                    <select class="select">
                      <option value="1">Select University</option>
                      <option value="2">McMaster University</option>
                      <option value="3">University of Toronto</option>
                      <option value="4">University Guelph</option>
                      <option value="4">University of Waterloo</option>
                      <option value="4">Ryerson University</option>
                      <option value="4">York University</option>
                      <option value="4">Queens University</option>
                    </select>
    
                  </div>    
                  <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
    
                </form>
    
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- <script src="javascript"></script> -->
</body>
</html>