<!-- Reza's Page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/createAccount.css">
    <!-- JavaScript Bundle with Popper -->
    
</head>
<body>
    <form method="get" action="/index.html" >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
              <img src="https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/legacy_blog/06_17_2013_book-smell.jpg"
                class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                alt="Sample photo">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Make an account</h3>
    
                <form class="px-md-2">
    
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control" placeholder="Name"/>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control"placeholder="Phone number" />
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control"placeholder="Email" />
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>

                  <div class="form-row">
                    <div class="col-md-3 mb-3">
                      <label for="validationCustom03"></label>
                      <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationCustom04"></label>
                      <input type="text" class="form-control" id="validationCustom04" placeholder="Province" required>
                      <div class="invalid-feedback">
                        Please provide a valid Province.
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationCustom05"></label>
                      <input type="text" class="form-control" id="validationCustom05" placeholder="Postal Code" required>
                      <div class="invalid-feedback">
                        Please provide a valid Postal code.
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control" placeholder="Address"/>
                  </div>

                  <div class="mb-4">
    
                    <select class="select">
                      <option value="1">Select University</option>
                      <option value="2">McMaster University</option>
                      <option value="3">University of Toronto</option>
                      <option value="4">University Guelph</option>
                      <option value="4">University of Waterloo</option>
                      <option value="4">Ryerson University</option>
                      <option value="4">York University</option>
                      <option value="4">Queens University</option>
                    </select>
    
                  </div>    
                  <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
    
                </form>
    
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- <script src="javascript"></script> -->
</body>
</html>