<!-- Aniruddh's Page -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sell Your Item!</title>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sell your item</title>
    <link
            rel="stylesheet"
            href="../css/sell.css"
        />

    <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		/>
    
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <!-- BOOTSTRAP css file link  --><link rel="stylesheet" 
            ref="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous">

        <!-- custom css sell file link  -->
        <link rel="stylesheet" href="../css/sell.css" class="rel">

		<!-- custom css file link  -->
		<link rel="stylesheet" href="../css/style.css" />
        
        
	</head>
    <body>
<!-- *****************   START OF HEADER ******************* -->
 
<header class="header">
    <div class="header-1">
        <div class="nvbr">
        <nav>
            <div class="navbar">
                <div class="container nav-container">
                    <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    
                    <div class="menu-items">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="explore.html">Explore</a></li>
                        <li><a href="accountDetails.html">Account </a></li>
                        <li><a href="cart.html">Cart </a></li>
                        <li><a href="#">Contact</a></li>
                    </div>
                </div>
            </div>
        </nav></div>
        <button onclick="location.href='createAccount.html'" class="btn" style="position:absolute;left:10rem;">Register</button>
        <a style="text-align-last: auto; position: relative; left:30px ;" href="#" class="logo main-logo"
					><i class="fas fa-book "></i> Bookstore</a
				>

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <button onclick="location.href='cart.html'" class="btn hdr-btn">
                Cart <a href="cart.html" class="fas fa-shopping-cart"></a>
            </button>
            <button onclick="location.href='sellItem.html'" class="btn hdr-btn">
                SELL <a href="sellItem.html" class="fas fa-dollar-sign"></a>
            </button>
            <button class="btn hdr-btn" id="login-btn">
                Sign In
                <div class="fas fa-user"></div>
            </button>
            <select class="btn hdr-btn">
                <option value="">English</option>
                <option value="dog">French</option>
                <option value="cat">Spanish</option>
                <option value="hamster">German</option>
                <option value="parrot">Portuguese</option>
                <option value="spider">Russian</option>
                <option value="goldfish">Persian</option>
            </select>
        </div>
    </div>

</header>

<!-- *****************   START OF SELL ITEMS ******************* -->
    <div class="container">

       <h1 class="mb-3" >Sell your items here</h1>
        <form>
            <div class="row">
                <!-- title name -->
                <div class="col-md-6 mb-3">
                    <label for="title" class="format">Title</label>
                    <input type="text" class="form-control border" id="inputTitle" placeholder="Enter Title of item">
                </div>
                <!-- author name -->
                <div class="col-md-6 mb-3">
                    <label for="author" class="format" >Author</label>
                    <input type="text" class="form-control border" id="inputAuthor" placeholder="Enter name of the author">
                </div>

            </div>
            <!-- category selector -->
            <div class="form-group"  >
                <label for="category" class="format">Which category is this item from</label>
                <select class="edit border" name="Category" id="category">  
                    <option value="book">Book</option>
                    <option value="clothing">Clothing</option>
                    <option value="tool">Tool</option>
                    <option value="tech">Technology</option>
                    <option value="other">other</option>
                </select>
                <div class="other" style="display: inline;">
                    <label id="other" class="format2"> Other: </label>
                    <input type="text" class="form-control border2 placeholder" name="other" id="other" placeholder="Other"/>
                </div>
            </div>
            
           

            <!-- Edition -->
            <div class="form-group">
                <label for="edition" class="format">Edition</label>
                <input
                    type="Text"
                    class="form-control border"
                    placeholder="Enter the Edition"
                    id="edition"
                />
            </div>
            
            <!-- ISBN -->
            <div class="ISBN">
                <label for="isbn" class="format">ISBN</label>
                <input
                    type="number"
                    class="form-control border"
                    placeholder="Enter the ISBN"
                    id="isbn"
                />
            </div>


            <!-- price -->
            <div class="price">
                <label for="price" class="format">Price</label>
                <input
                    type="number"
                    class="form-control border"
                    placeholder="Enter your sell Price"
                    id="price"
                />
            </div>


            <!-- description -->
            <div class="description">
                <label for="desc" class="format">Description</label>
                <textarea
                    type="Text" style="height: 200px;"
                    class="form-control border"
                    placeholder="Enter the Description"
                    id="desc"
                ></textarea>
            </div>

            <!-- date of purchase -->
            <div class="PDB">   
                <label for="date" class="format">Date of Purchase</label>
                <input
                    type="date"
                    class="form-control"
                    placeholder="Purchase Date of Book"
                    id="date"
                />
            </div>

            <!-- add images -->
            <div class="form-group">
                <label for="img" class="format">Picture of Item</label>
                <input type="file" 
                       class="form-control-file" i>
              </div>
            

            <!-- submit -->
            <button onclick="submit()" class="btn submit">Submit</button>
            <button onclick="saveForLater()" class="btn saveForLater">Save for later</button>
            <button onclick="remove()" class="btn">Remove</button>
            <!-- <a href="../index.html"><input type="submit" value="Submit" class="btn" /></a> -->
            <p style="padding:1rem;font-size:medium">Don't have an account? <a href="createAccount.html">create one</a></p>
        </form>
    </div>
    </div>



    <script type= "text/javascript" src="../js/sell.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>